.navContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.1rem solid black;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #eeeeee;
}

.navLinks {
  list-style-type: none;
}

.navLinks > li {
  display: inline;
  margin-right: 2rem;
}

.link {
  text-decoration: none;
  color: black;
  position: relative;
  cursor: pointer;
  padding-bottom: 0.3rem;
}

.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  bottom: 0;
  left: 0;
  background: black;
  transition: width 0.2s ease-out;
}

.link:hover.link::after {
  width: 100%;
}
